---
import { siteConfig } from '@/site-config'

const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2'>
	&copy; {today.getFullYear()}
	{siteConfig.author}. All rights reserved.
	<p class="mt-2 text-sm">
		Desenvolvido por{' '}
		<a 
		  href="https://www.clickasso.com.br" 
		  target="_blank" 
		  rel="noopener noreferrer"
		  class="text-rose-700 hover:text-rose-800 transition-colors"
		>
		  clickasso
		</a>
	  </p>
</footer>
